html, body, .wrapper{
    height: 100%;
}
body{
    margin: 0;
}
.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 30% 10% 40%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "aside inbox panel chat"
    ;
}
aside {
    grid-area: aside;
    background: lightgray;
}
.inbox {
    grid-area: inbox;
    background: grey;;
    }
.chat {
    grid-area: chat;
    background: gold;
}
.panel {
    grid-area: panel;
    background: rgb(116, 84, 84);
}